
RestaurantTP/.vs/
RestaurantTP/obj/
RestaurantTP/obj/
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/.vs/RestaurantTP/v16/.suo
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/.vs/RestaurantTP/v16/.suo
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.assets.cache
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/obj/project.assets.json
RestaurantTP/obj/project.nuget.cache
RestaurantTP/obj/RestaurantTP.csproj.nuget.dgspec.json
RestaurantTP/obj/RestaurantTP.csproj.nuget.g.props
RestaurantTP/RestaurantTP.sln
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.assets.cache
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.csproj.AssemblyReference.cache
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/obj/project.assets.json
RestaurantTP/obj/project.nuget.cache
RestaurantTP/obj/RestaurantTP.csproj.nuget.dgspec.json
RestaurantTP/obj/RestaurantTP.csproj.nuget.g.props
RestaurantTP/obj/RestaurantTP.csproj.nuget.g.targets
.vscode/settings.json
.vscode/tasks.json
.vs/VSWorkspaceState.json
